.cards {
	display: flex;
	flex-direction: column;
	max-width: 672px;
	margin-left: auto;
	margin-right: auto;
}

paper-card.card-content {
	padding: 16px;
	position: relative;
}

#canvas {
	background-color: #ddd;
}
