html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='css/main.css', rel='stylesheet')
    link(href='bower_components/polymer/polymer.html', rel='import')
    link(href='bower_components/paper-card/paper-card.html', rel='import')

  body
    p
    .cards
      paper-card(heading="Tilt-a-Whirl")
        .card-content
          canvas(id="canvas", width=640, height=480)
          


