doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(href='/polymer/polymer.html', rel='import')
        link(href='/paper-card/paper-card.html', rel='import')
    body
        block content
        script(src="/javascripts/jquery.js")
        script(src="/javascripts/Bacon.js")
        script(src="/javascripts/pan-tilt.js")