[Unit]
Description=Server
After=docker.service
Requires=docker.service

[Service]
User=core
ExecStartPre=/home/core/docker_login.sh
ExecStartPre=/usr/bin/docker pull gcr.io/strong-pursuit-722/pan-and-tilt
ExecStart=/usr/bin/docker run --name server -p 80:8888 gcr.io/strong-pursuit-722/pan-and-tilt
ExecStopPre=/usr/bin/docker kill server
ExecStop=/usr/bin/docker rm server
TimeoutStartSec=0
Restart=always
RestartSec=3s

[X-Fleet]
X-Conflicts=pantilt@*.service
